<div class="banner d-flex flex-column vh-100" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(<%= image_path('signup-background.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 d-flex flex-column justify-content-center align-items-center w-100">

<h2 class ="edit-heading">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="edit-form">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>

    <%= f.input :first_name, required: true, input_html: { autocomplete: "given-name" }, hint: "Your first name" %>
    <%= f.input :last_name, required: true, input_html: { autocomplete: "family-name" }, hint: "Your last name" %>
    <%= f.input :birth_date, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, required: true, input_html: { autocomplete: "bday" }, hint: "Your date of birth" %>
    <%= f.input :gender, collection: ['Male', 'Female', 'Other', 'Prefer not to say'], include_blank: true, hint: "Your gender" %>
    <%= f.input :about, as: :text, input_html: { rows: 5 }, hint: "Write a short description about yourself" %>
    <%= f.input :location, required: true, input_html: { autocomplete: "address" }, hint: "Your current location" %>

    <% selected_sports = resource.sports.pluck(:id) %>
    <%= f.association :sports, as: :check_boxes, collection: Sport.all, label: "Select sports", selected: selected_sports %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-dark btn-lg" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>
  Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-dark btn-lg" %>
</div>

<%= link_to "Back", :back %>
    </div>
  </div>
</div>
