<div class="banner d-flex flex-column vh-100" style="background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(<%= image_path('signup-background.jpg') %>);" data-controller="sign-up">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 d-flex flex-column justify-content-center align-items-center w-100">
        <div class="form-login" data-target="sign-up.tab">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false, multi_step: true }) do |f| %>
            <div class="card" data-step>
              <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
              <%= f.input :first_name, required: true, input_html: { autocomplete: "given-name" } %>
              <%= f.input :last_name, required: true, input_html: { autocomplete: "family-name" } %>
              <%= f.input :birth_date, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, required: true, input_html: { autocomplete: "bday" } %>
              <%= f.input :gender, collection: ['Male', 'Female', 'Other', 'Prefer not to say'], include_blank: true %>
              <%= f.input :about, as: :text, input_html: { rows: 5 } %>
              <%= f.input :location, required: true, input_html: { autocomplete: "address" } %>
              <%= f.input :photo, as: :file %>
              <button type="button" data-next class="btn btn-dark me-2">Next</button>
            </div>
            <div class="card" data-step>
              <%= f.association :sports, as: :check_boxes, collection: Sport.all, label: "Select sports" %>
              <button type="button" data-next class="btn btn-dark me-2">Next</button>
              <button type="button" data-previous class="btn btn-dark me-2">Previous</button>
            </div>
            <div class="card" data-step>
              <%= f.fields_for :user_sports do |user_sports_fields| %>
                <%= user_sports_fields.label :level, "Select level" %>
                <%= user_sports_fields.select :level, options_for_select(['Beginner', 'Intermediate', 'Advanced']), prompt: "Select level", required: true %>
              <% end %>
              <button type="submit" class="btn btn-dark me-2">Submit</button>
              <button type="button" data-previous class="btn btn-dark me-2">Previous</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
