<div class="container chatroom">
  <h1>#<%= @chatroom.event.name %></h1>

  <div class="messages">
    <% @messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user_id %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [@chatroom.event, @chatroom, @message], html: {class: "d-flex"} do |f| %>
  <%= f.input :content,
    label: false,
    placeholder: "Type your message for #{@chatroom.event.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
