<div class="container-xxl py-4 d-flex flex-column">
  <div class="row">
    <div class="media align-items-end profile-head d-flex mb-4">

      <%# Image %>
      <div class="profile me-4">
        <%= cl_image_tag(@user.photo.key, :width => 130, :crop => "scale", class: "rounded-circle") %>
      </div>

      <%# User Info %>
      <div class="media-body my-auto">
        <h3 class="mb-0">
          <%= @user.first_name %> <%= @user.last_name %>&nbsp;
          <% if current_user == @user %>
            <a href="<%= edit_user_registration_path %>"><i class="fa-regular fa-pen-to-square" style="color: #000000"></i></a>
          <% end %>

        </h3>
        <p class="mb-0">
          <i class="fa-regular fa-cake-candles"></i> <%= calculate_age(@user.birth_date) %> &nbsp;
          <i class="fa-regular fa-venus-mars"></i> <%= @user.gender %> &nbsp;
          <i class="fa-regular fa-map-marker-alt"></i> <%= @user.location %> &nbsp;
        </p>
      </div>
    </div>
  </div>

<!-- Sports -->
<div class="pt-4 pb-2">
  <h5 class="mb-0">Sports</h5>
  <div class="row g-3 py-4">
    <% @user_sports.each do |user_sport| %>
      <div class="col-6 col-md-4 col-lg-3">
        <%= render partial: "shared/sport_card", locals: {
            sport: user_sport.sport.name,
            url: user_sport.sport.icon } %>
      </div>
    <% end %>
  </div>
</div>

  <%# About %>
  <div class="pb-4">
    <h5 class="mb-0">About</h5>
    <p><%= @user.about %></p>
  </div>

  <!-- My Upcoming Events -->
  <div class="py-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h5 class="mb-0">My Upcoming Events</h5>
    </div>
    <div class="row g-3 d-flex">
      <% @joined_events.sort_by{ |event| event.date }.each do |event| %>
        <div class="col-md-6 col-lg-4">
          <div class="card-event d-flex ">
            <div class="card-event-details w-75 ps-4 py-4 d-flex flex-column justify-content-center">
              <h6 class="card-event-title"><%= event.sport.name %></h6>
              <h5 class="card-event-title mb-3"><%= event.name %></h5>
              <div class="card-event-date d-flex align-items-center mb-2">
                <div class="me-2">📆</div>
                <div><%= event.date.strftime("%e %B %Y, %H:%M") %></div>
              </div>
              <div class="card-event-location d-flex align-items-center mb-2">
                <div class="me-2">📍</div>
                <div><%= event.address %></div>
              </div>
              <div class="card-event-details align-items-center d-flex">
                <div class="me-2">💪</div>
                <div><%= event.level %></div>
              </div>
            </div>
            <div class="card-link w-25 d-flex justify-content-center align-items-center">
              <%= link_to event do %>
                <i class="fa-solid fa-chevron-right p-4" style="color: #000000;"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="horizontal-spacer"></div>

    <!-- My Past Events -->
    <div class="py-4">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h5 class="mb-0">My Past Events</h5>
      </div>
      <div class="row g-3 d-flex">
        <% @past_events.sort_by{ |event| event.date }.each do |event| %>
          <div class="col-md-6 col-lg-4">
            <div class="card-event d-flex ">
              <div class="card-event-details w-75 ps-4 py-4 d-flex flex-column justify-content-center">
                <h6 class="card-event-title"><%= event.sport.name %></h6>
                <h5 class="card-event-title mb-3"><%= event.name %></h5>
                <div class="card-event-date d-flex align-items-center mb-2">
                  <div class="me-2">📆</div>
                  <div><%= event.date.strftime("%e %B %Y, %H:%M") %></div>
                </div>
                <div class="card-event-location d-flex align-items-center mb-2">
                  <div class="me-2">📍</div>
                  <div><%= event.address %></div>
                </div>
                <div class="card-event-details align-items-center d-flex">
                  <div class="me-2">💪</div>
                  <div><%= event.level %></div>
                </div>
              </div>
              <div class="card-link w-25 d-flex justify-content-center align-items-center">
                <%= link_to event do %>
                  <i class="fa-solid fa-chevron-right p-4" style="color: #000000;"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
