<div class="container-xxl chatroom scrollable border"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>">
  <div class="messages px-2 pt-3" data-chatroom-subscription-target="messages">
    <% messages.each do |message| %>
      <%= render "shared/message", message: message %>
    <% end %>
    </div>
  </div>

<%= simple_form_for [chatroom.event, chatroom, message], html: {class: "d-flex mt-2"} do |f| %>
  <%= f.input :content,
    input_html: { class: '' },
    label: false,
    placeholder: "Type your message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-dark mb-3 ms-2" %>
<% end %>
</div>
