<div class="container-xxl chatroom scrollable border">
  <div class="messages px-2 pt-3">
    <% messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <%= message.user.email %> &nbsp;&#183;&nbsp; <%= message.created_at.strftime("%A %b %e at %R") %>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for [chatroom.event, chatroom, message], html: {class: "d-flex mt-2"} do |f| %>
  <%= f.input :content,
    input_html: { class: '' },
    label: false,
    placeholder: "Type your message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-dark mb-3 ms-2" %>
<% end %>
</div>
