<div class="container-xxl chatroom scrollable border"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <div class="messages px-2 pt-3" data-chatroom-subscription-target="messages">
    <% messages.each do |message| %>
      <% if message.user == current_user %>
        <div class="message-row d-flex flex-column align-items-end">
          <div class="sender-style d-flex flex-column align-items-end">
            <%= render "shared/message", message: message %>
          </div>
        </div>
      <% else %>
        <div class="message-row d-flex flex-column align-items-start">
            <div class="receiver-style d-flex flex-column align-items-start">
              <%= render "shared/message", message: message %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>


<%= simple_form_for [chatroom.event, chatroom, message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex mt-2" } do |f| %>
  <%= f.input :content,
    input_html: { class: '' },
    label: false,
    placeholder: "Type your message",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-dark mb-3 ms-2" %>
<% end %>
</div>
