<%= simple_form_for (@event) do |f| %>
  <div class="col-md-6 offset-md-3">
    <%= f.input :name, label: 'Name of the event' %>
    <%= f.association :sport, prompt: "Select a sport" %>
    <%= f.input :level, collection: [[ "Beginner", "beginner" ], [ "Intermediate", "intermediate" ], [ "Advanced", "advanced" ], [ "Open for all", "for all" ]], prompt: "Select an option" %>
    <%= f.input :date, as: :datetime %>
    <%= f.input :address %>
    <%= f.input :participant_number, label: 'Number of participants', as: :integer %>
    <%= f.input :duration, label: 'For how long will the event last, in hours?' %>
    <%= f.input :description, label: 'Give the participants the additional info they need!' %>
    <%= f.submit class: "btn btn-dark me-2" %>
    <%= link_to "Back", root_path, class: "btn btn-outline-dark" %>
  </div>
<% end %>
