<%= simple_form_for :search, url: search_events_path, method: :get, remote: true do |f| %>
  <div class="search-form-control form-group d-flex">
    <%= f.input_field :city, class: "form-control string required me-2", placeholder: "City" %>
    <%= f.input_field :sport, class: "form-control string required me-2", placeholder: "Sport" %>
    <%= f.input_field :level, class: "form-control string required me-2", placeholder: "Level" %>
    <%= f.button :submit, "Search", class: "btn btn-dark" %>
  </div>
<% end %>
