<%# Banner %>
<div style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(<%= @sport.icon %>); background-position: center center; background-size: cover;">
  <div class="container-xxl background-container d-flex flex-column">
    <div class="my-auto">
      <div class="card-show d-flex flex-row">
        <h5><%= @event.sport.name %></h5>
      </div>
      <h1><%= @event.name %></h1>
      <p><%= @event.description %></p>
    </div>
  </div>
</div>

<div class="py-1"></div>

<%# Event Information %>
<div class="container-xxl py-4 d-flex">
  <div class="row">
    <%# Event Details (Left side) %>
    <div class="event-details col-12 col-lg-7">

      <%# Event Headlines %>
      <h5 class="pt-2 pb-4">Event Details</h5>
      <div class="d-flex pb-2">
        <div class="row g-2">
          <div class="col-6 col-md-4">
            <h6>Address</h6>
            <p><%= @event.address %></p>
          </div>
          <div class="col-6 col-md-4">
            <h6>Date</h6>
            <p><%= @event.date.strftime("%e %B %Y, %H:%M") %></p>
          </div>
          <div class="col-6 col-md-4">
            <h6>Max participants</h6>
            <p><%= @event.participant_number %></p>
          </div>
          <div class="col-6 col-md-4">
            <h6>Duration</h6>
            <p><%= @event.duration %>h</p>
          </div>
          <div class="col-6 col-md-4">
            <h6>Level</h6>
            <p><%= @event.level %></p>
          </div>
          <div class="col-6 col-md-4">
            <h6>Host</h6>
            <p><span style="word-wrap: break-word;"><%= @creator.email %></span></p>
          </div>
        </div>
      </div>

      <div class="py-3"></div>
      <div class="separator"></div>
      <div class="py-4"></div>

      <%# Participants Section %>
      <div>
        <h5 class="pt-2 pb-4">Participants (<%= @event.participants.size + 1 %>/<%= @event.participant_number %>)</h5>
        <div class="d-flex">
          <div class="row g-2 col-12">
            <% if policy(@event).edit? %>
              <div class="col-12 col-lg-6">
                <%= image_tag "https://i.pravatar.cc/400?img=67", class: "avatar me-2" %>
                <%= "You (Host)" %>
              </div>
            <% else %>
              <div class="col-12 col-lg-6">
                <%= image_tag "https://i.pravatar.cc/400?img=67", class: "avatar  me-2" %>
                <%= @event.user.email %>
              </div>
            <% end %>
            <% @event.participants.each do |participant| %>
              <div class="col-12 col-lg-6">
                <%= image_tag "https://i.pravatar.cc/400?img=67", class: "avatar me-2" %>
                <%= "#{participant.user.email}" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="py-4"></div>

      <%# Edit/destroy Event buttons Section %>
      <div>
        <% if policy(@event).edit? %>
          <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-dark me-1" %>
        <% end %>
        <% if policy(@event).destroy? %>
          <%= link_to "Cancel Event", event_path(@event), class: "btn btn-dark me-1", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%= link_to "Back", events_path, class: "btn btn-outline-dark  me-1" %>
        <% else %>
          <div class="d-flex flex-row align-items-center">
            <% if @event.participant_number - 1 > @event.participants.count %>
              <%= button_to 'Join Event', event_participants_path(@event), method: :post, class: "btn btn-dark me-2" unless @participant = Participant.find_by(event: @event, user: current_user) %>
              <%= button_to 'Leave Event', event_participant_path(@event), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-dark me-2" if @participant = Participant.find_by(event: @event, user: current_user) %>
              <%= link_to "Back", events_path, class: "btn btn-outline-dark  me-2" %>
            <% else %>
              <%= button_to 'Leave Event', event_participant_path(@event), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-dark me-2" if @participant = Participant.find_by(event: @event, user: current_user) %>
              <%= link_to "Back", events_path, class: "btn btn-outline-dark me-2" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="py-3"></div>
    </div>

    <%# Map (Right Side) %>
    <div class="map-details pt-2 col-12 col-lg-5">
      <div style="width: 100%; height: 100%; min-height: 35vh; display: flex; justify-content: center; align-items: center;">
        <img src="https://assets.amerimacmanagement.com/wp-content/uploads/2021/11/Overhead-Map-of-Possible-Residential-Area.jpg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
      </div>
    </div>
  </div>

  </div>

    <div class="py-3"></div>

    <%# Chat Section %>
  <div class="container-xxl my-4">
    <div class="card-show d-flex flex-row">
      <h5 class="pt-2 pb-4">Chat</h5>
    </div>
    <div>
      <div>
        <%= render "shared/chatroom", messages: @messages, chatroom: @chatroom, message: @message, event: @event %>
      </div>
    </div>
  </div>

</div>
