<div class="banner d-flex flex-column vh-100" style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(<%=asset_path('show-background-football.jpg')%>);">

  <%# Event Section %>
  <div class="container">
  <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">

    <%# Sport information%>
    <div class="d-flex flex-column">
      <h2><%= @event.sport.name %> <%= sanitize @event.sport.icon %></h2>
       <h1> <%= @event.name %></h1>
    </div>

    <%# Event information%>
    <p><%= @event.description%><p>

    <div class="d-flex">
    <div class="card-show d-flex flex-column">
      <p style="font-weight: bold;", class="paragraph-spacing">Where</p>
      <p class="paragraph-spacing"><%= @event.address %></p>
      </div>
    <div class="d-flex flex-column">
      <p style="font-weight: bold;">When</p>
      <p class="paragraph-spacing"><%= @event.date %></p>
    </div>
  </div>

    <p> Max participants </p>
    <%= @event.participant_number %>
    <p> Duration <%=@event.duration %>h</p>
    <p><%= @event.level %></p>


  <div class="d-flex flex-row">
      <% if policy(@event).edit? %>
        <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-dark me-2" %>
      <% end %>
      <% if policy(@event).destroy? %>
        <%= link_to "Delete Event", event_path(@event), class: "btn btn-outline-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% else %>
      <div class= "d-flex flex-row" >
        <%if %>
          <%@event.participant_number-1 > @event.participants.count %>
      <%= button_to 'Join', event_participants_path(@event), method: :post, form: { data: { turbo_confirm: 'Are you sure?' } }, class:"btn btn-dark me-2" %>
          <% else %>
          <p> The event is full! </p>
        <%end %>
      <%= button_to 'Leave', event_participant_path(@event), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class:"btn btn-outline-dark" %>
      <p class="participant-spacing"><%= @event.participant_number - @event.participants.count-1  %> spots left!</p>
       <% end %>
      </div>
  </div>

    <%# Participants Section %>
    <p style="font-weight: bold;">Participants</p>
    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
      <% @event.participants.each do |participant| %>
        <li class="pb-3 sm:pb-4"><%= participant.user.first_name%></li>
      <% end %>
    </ul>
    </div>
    </div>
  </div>
    <%# Map Section %>

    <%# Chat Section %>
</div>
