<div style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(<%= @sport.icon %>); background-position: center center; background-size: cover;">

  <%# Event Section %>
  <div class="container-xxl background-container d-flex flex-column">
    <div class="my-auto">
    <%# Sport information%>
      <div class="card-show d-flex flex-row">
        <h2><%= @event.sport.name %></h2>
      </div>
    <%# Event information%>
      <h1> <%= @event.name %></h1>
      <p><%= @event.description%><p>
    </div>
  </div>
</div>

<div class="container-xxl py-4">
    <div>
      <h6>Address</h6>
      <p><%= @event.address %></p>
    </div>
    <div>
      <h6>Date</h6>
      <p><%= @event.date %></p>
    </div>
    <div>
      <h6>Max participants</h6>
      <p><%= @event.participant_number %></p>
    </div>
    <div>
      <h6>Duration</h6>
      <p><%= @event.duration %>h</p>
    </div>
    <div>
      <h6>Level</h6>
      <p><%= @event.level %></p>
    </div>

  <div>
    <div class="horizontal-spacer"></div>

    <%# Edit/destroy Event buttons Section %>
    <div>
      <% if policy(@event).edit? %>
        <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-dark" %>
      <% end %>
      <% if policy(@event).destroy? %>
        <%= link_to "Delete Event", event_path(@event), class: "btn btn-outline-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% else %>
      <div class= "d-flex flex-row align-items-center" >
        <%if %>
          <%@event.participant_number-1 > @event.participants.count %>
          <%= button_to 'Join', event_participants_path(@event), method: :post, class:"btn btn-dark me-2" unless @participant = Participant.find_by(event: @event, user: current_user) %>
          <%= button_to 'Leave', event_participant_path(@event), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class:"btn btn-outline-dark" if @participant = Participant.find_by(event: @event, user: current_user) %>
          <p><%= pluralize(@event.participant_number - @event.participants.count - 1, 'spot') %> left!</p>
          <% else %>
          <p class= "mb-0 me-2" > The event is full! </p>
          <%= button_to 'Leave', event_participant_path(@event), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class:"btn btn-outline-dark" if @participant = Participant.find_by(event: @event, user: current_user) %>
        <%end %>
      <% end %>
       </div>

       <div class="horizontal-spacer"></div>

    <%# Participants Section %>
    <h6>Participants</h6>
    <ul class="list-group">
      <% if policy(@event).edit? %>
        <li class="list-group-item"><%= "You (Host)" %></li>
          <% else %>
        <li class="list-group-item"><%= @event.user.first_name%></li>
          <%end %>
      <% @event.participants.each do |participant| %>
        <li class="list-group-item"><%= "#{participant.user.first_name} #{participant.user.last_name}"%></li>
      <% end %>
    </ul>

      <div class="horizontal-spacer"></div>

      <%= link_to "Back", events_path, class: "btn btn-outline-dark" %>


  </div>
  </div>

  </div>
    <%# Map Section %>

    <%# Chat Section %>
</div>
