<div class="banner d-flex flex-column vh-100" style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(<%=asset_path('show-background-football.jpg')%>);">

  <%# Event Section %>
  <div class="container my-5">
    <div class="horizontal-spacer"></div>
    <%# Sport information%>
      <h2><%= @event.sport.name  %></h2>
      <%= sanitize @event.sport.icon %>
    <%# Event information%>
    <div class="col-md-7 my-3 align-self-center event-details">
    <h1> <%= @event.name %></h1>
    <p><%= @event.description%><p>
    <p><%= @event.address %></p>
    <p><%= @event.date %></p>
    <p> Max participants <%= @event.participant_number %></p>
    <p> Duration <%=@event.duration %>h</p>
    <p><%= @event.level %></p>
    <%= button_to 'Join/Leave', event_participants_path(@event), method: :post, form: { data: { turbo_confirm: 'Are you sure?' } }, class:"btn btn-dark me-2" %>
    <p><%= @event.participant_number %> spots left</p>

    <%# Participants Section %>
    <p><strong>Participants</strong></p>
    <ul class="list-group">
      <% @event.participants.each do |participant| %>
        <li class="list-group-item"><%= participant.user.first_name%></li>
      <% end %>
    </ul>


    <%# Edit/destroy Event buttons Section %>
    <div class="my-4">
      <% if policy(@event).edit? %>
        <%= link_to "Edit", edit_event_path(@event), class: "btn btn-success" %>
      <% end %>
      <% if policy(@event).destroy? %>
        <%= link_to "Delete", event_path(@event), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </div>

  </div>
  </div>
    <%# Map Section %>

    <%# Chat Section %>
</div>
