<div class="d-flex flex-column full-height-homepage">
<% content_for(:navbar_class, "navbar-home") %>

<div class="py-auto">
  <div class="banner d-flex flex-column flex-grow-1" style="background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(<%=asset_path('home-background-tennis.jpg')%>);">
    <%# Main Text %>
    <div class="container my-5">
      <h1 style="font-size: 36px">The Local Sports Club</h1>
      <h2 class="mt-0">Uniting Sports Lovers Around the World</h2>
      <% if user_signed_in? %>
        <p style="font-size: 18px">Start browsing for events around you, or create your own.</p>
        <%= link_to "Create Event", new_event_path, class: "btn btn-dark btn-lg" %>
        <%= link_to "Browse Events", events_path, class: "btn btn-yellow btn-lg" %>
      <% else %>
        <p style="font-size: 18px">Join our community, make new friends, play your favourite sports.</p>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-dark btn-lg"%>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-yellow btn-lg" %>
      <% end %>
    </div>

    <%# Icons %>
    <div class="icon-container container my-5">
      <div class="row d-flex justify-content-start">
        <div class="col-12 col-lg-4 my-2 d-flex align-items-center">
          <i class="fa-solid fa-users me-3"></i>
          <p style="font-size: 18px">50,000+ total players</p>
        </div>
        <div class="col-12 col-lg-4 my-2 d-flex align-items-center">
          <i class="fa-solid fa-globe me-3"></i>
          <p style="font-size: 18px">20+ countries</p>
        </div>
        <div class="col-12 col-lg-4 my-2 d-flex align-items-center">
          <i class="fa-solid fa-calendar-plus me-3"></i>
          <p style="font-size: 18px">1,000+ events daily</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
